.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  gap: 12px;

  width: 273px;
  min-height: 68px;

  &__content {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }
}

.count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  background: #d4d7d9;
  border-radius: 36px;
}
