.sticky_header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
}

.sticky_header__active {
  background-color: #D6DADB;
  transition: all .6s;
}

.sticky_header__active .logo__icon {
  font-size: 42px;
}

.sticky_header__active .header {
  padding: 5px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: .6s;
}


.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  &__icon {
    font-size: 64px;
    transition: .6s;
  }
}

.nav {
  display: flex;
  gap: 24px;
}

.avatar {
  border-radius: 100%;
  width: 40px;
  padding: 0;
}

.profile {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 960px) {
  .nav {
    display: none;
  }
  // TODO: add burger menu
}
