@import './../../App.module.scss';

.boards {
  margin-top: 65px;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border: 1px solid $color__mine_shaft;
  border-radius: 12px;
  padding: 12px 24px 12px 48px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 16px;

  &__new {
    margin-top: 25px;
  }
}

.input {
  @extend .input;
  width: 40%;
}
