@import './../../../App.module.scss';

.toggle {
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: transparent;
  border-radius: 12px;
  border: none;
}

.one {
  border-radius: 12px 0px 0px 12px;
}

.two {
  border-radius: 0px 12px 12px 0px;
}

.active {
  @extend .font_title;
}
